<div class="contact-them">
    <div class="gallery-bg">
        <div class="gallery-text">Contact Us</div>
        <p style="text-align: center;">Discover how our platform transforms road construction into a<br>
           seamless, efficient, and well-managed process.</p>
      </div>
<div class="contact">
   <div class="form1">
    <form>
        <nz-form-item>
            <label for="fullName">Full Name</label>
            <input type="text" placeholder="Enter Full Name" style="border: 1px solid #DADADA;
             border-radius: 10px; width: 100%; height: 50px; padding: 10px;">
        </nz-form-item>
        <nz-form-item>
            <label for="fullName">Email</label>
            <input type="text" placeholder="Enter your email" style="border: 1px solid #DADADA;
             border-radius: 10px; width: 100%; height: 50px; padding: 10px;">
        </nz-form-item>
        <nz-form-item>
            <label for="fullName">Message</label>
            <textarea type="text" placeholder="Enter your email" style="border: 1px solid #DADADA;
             border-radius: 10px; width: 100%; height: 150px; padding: 2px;">
            </textarea>
        </nz-form-item>
        <div class="next-button-container">
            <button class="next-button">Submit</button>
          </div>
    </form>
   </div>

   <div class="down-part">
    <div class="down">
        <div class="down-content">
          <div class="icon-wrapper">
            <img src="../../../assets/images/chat-unread.svg">
          </div>
          <div class="down-title">Email Us</div>
          <div class="down-desc">
            Email us for general queries, including marketing and partnership opportunities.
          </div>
          <div class="down-link" (click)="copyToClipboard('Handballassociationofghana@gmail.com')">
            Handballassociationofghana&#64;gmail.com
          </div>
        </div>
      </div>
      
    <div class="down">
        <div class="down-content">
            <div class="icon-wrapper">
                <img src="../../../assets/images/endcall.svg">
            </div>
            <div class="down-title">Call Us</div>
            <div class="down-desc">
                Need immediate assistance? Our customer support team is available to help with any </div>
            <div class="down-link" (click)="copyToClipboard('+233547141237')">+233547141237</div> 
        </div>
    </div>

    <div class="down">
        <div class="down-content">
            <div class="icon-wrapper">
                <img src="../../../assets/images/headphones.svg" width="30px" height="30px">
            </div>
            <div class="down-title">Support Us</div>
            <div class="down-desc">For technical support or customer service, contact our support team:</div>
            <div class="down-link" (click)="copyToClipboard('Handballassociationofghana@gmail.com')">
                Handballassociationofghana&#64;gmail.com
            </div>
        </div>
    </div>
   </div>
</div>
</div>
