<div class="registration m-auto flex flex-col justify-center pt-[70px]">
    <!-- BACK ICON -->
<div class="flex pl-[50px] md:pl-[120px] lg:pl-[120px] pt-[20px] gap-x-2">
    <a [routerLink]="['/app-layout/layout/home']" class="border-1 border-gray-500 rounded-[50%] p-2 flex items-center justify-center">
      <img src="assets/images/backicon.svg" class="h-[20px] w-[20px]">
    </a>
    <p class="pt-[7px] text-[#464040]">Back</p> 
  </div>
    <div class="m-auto ">
        <h1 class="font-md text-[14px] md:text-[18px] lg:text-[18px] text-center"><strong>Get Started</strong></h1>
        <p class="text-[#777777] text-[12px] md:text-[16px] lg:text-[16px]">Select your division  to continue</p>
    </div>
    <!-- crm and hr portal -->
    <div class="m-auto flex gap-4 pt-[20px]">
        <!-- crm -->
       <div class="crm border border-[#E5E5E5] bg-[#FCFCFC] rounded-[12px] w-[135px] h-[135px] md:w-[184px] lg:w-[184px] lg:w-[184px] lg:h-[184px] 
        md:h-[184px] lg:h-[184px] text-[12px] md:text-[16px] lg:text-[16px]  
       !text-[#0B1D2E] font-md p-2 gap-y-2">
            <img src="assets/images/frame1.svg" class="m-auto w-[39px] md:w-[59px] lg:w-[59px] h-[39px] md:h-[59px] lg:h-[59px]">
            <div class="text-[#1E1E1E] font-[600] flex justify-center pt-[25px]">1st Division</div>
            <p class="flex justify-center text-center text-[10px] md:text-[12px] lg:text-[12px] text-[#9D9D9D]">Top-tier clubs in the national handball league.</p>
        </div>
        <!-- hr portal -->
       <div class="hr border border-[#1B1616] bg-[#FCFCFC] rounded-[12px] bg-[rgba(252, 252, 252, 1)] w-[135px] h-[135px] md:w-[184px] md:h-[184px] lg:w-[184px] lg:h-[184px] 
        md:h-[184px] lg:h-[184px] p-2 font-md text-[12px] md:text-[16px] lg:text-[16px]">
            <img src="assets/images/frame2.svg" class="m-auto w-[39px] md:w-[59px] lg:w-[59px] h-[39px] md:h-[59px] lg:h-[59px]">
            <div class="text-[#1E1E1E] font-[600] flex justify-center pt-[25px]">2nd Division</div>
            <p class="flex justify-center text-center text-[10px] md:text-[12px] lg:text-[12px] text-[#9D9D9D]">Regional and rising teams in developmental leagues.</p>
       </div> 
    </div>
    <div class="m-auto mt-[40px]">
        <button routerLink="/app-layout/layout/registration" class="w-[200px] h-[25px] md:w-[393px] 
        md:h-[45px] lg:w-[393px] lg:h-[45px] bg-[#1E1E1E] !text-white rounded-[7px] text-[10px] md:text-[14px] lg:text-[14px]">Next</button>
    </div>
</div>

