<!-- <section class="homepage min-h-screen w-full flex flex-col justify-center items-center px-4 font-bricolage"> -->
    
  <!-- BODY -->
   <!-- <div class="reg text-center">
    <h1 class="text-[16px] md:text-[27px] lg:text-[48px] leading-tight font-extrabold">
      Rising with 
      <span class="inline-flex items-center justify-center space-x-1">
        <span class="text-red-500">Pr</span>
        <span class="text-yellow-500">i</span>
        <span class="text-green-500">de</span>
      </span>. Competing 
      <br />
      <span class="!text-[#1A1A1A]">with Passion.</span>
    </h1> 
    <div class="text-[10px] md:text-[16px] mt-3 text-[#4D4D4D] font-medium">
      We go higher, higher and higher
    </div>  -->

 <!-- <div class="pt-[20px]">
      <button routerLink="/app-layout/registration"
        class="border-6 border-[#ECECEC] bg-[#1E1E1E] rounded-[100px] p-2 w-[100px] 
        h-[39px] md:w-[156px] md:h-[59px] text-white text-[10px] md:text-[16px]">
        Register Now
      </button>
    </div>
 </div> 

 </section> -->


<section>
<div class="reg text-center pt-[120px]">
  <h1 class="text-[16px] md:text-[27px] lg:text-[48px] leading-tight font-extrabold">
    Rising with 
    <span class="inline-flex items-center justify-center space-x-1">
      <span class="text-red-500">Pr</span>
      <span class="text-yellow-500">i</span>
      <span class="text-green-500">de</span>
    </span>. Competing 
    <br />
    <span class="!text-[#1A1A1A]">with Passion.</span>
  </h1> 
  <div class="text-[10px] md:text-[16px] mt-3 text-[#4D4D4D] font-medium">
    We go higher, higher and higher
  </div>
  <div class="pt-[20px]">
    <button routerLink="/app-layout/layout/card"
      class="border-6 border-[#ECECEC] bg-[#1E1E1E] rounded-[100px] p-2 w-[100px] 
      h-[39px] md:w-[156px] md:h-[59px] text-white text-[10px] md:text-[16px]">
      Register Now
    </button>
  </div>
</div>
</section>
