<!-- <nz-spin [nzSpinning]="isLoading" [nzIndicator]="customIndicator"> -->

<section class="bg-home">
    <div class="reg-container">
      <h1 class="reg-heading">
        Rising with 
        <span class="reg-pride">
          <span class="red">Pr</span>
          <span class="yellow">i</span>
          <span class="green">de</span>
        </span>. Competing 
        <br />
        <span class="passion-text">with Passion.</span>
      </h1>
  
      <div class="reg-subtext">We go higher, higher and higher</div>
  
      <div class="reg-button-wrapper">
        <button [routerLink]="['/divisions']" class="reg-button">Register Now</button>
      </div>
    </div>
  </section>


      <!-- 2ND   SECTION -->
  <section class="second-section">
    <!-- our partners -->
    <div class="whole-partners">
      <div class="partner-text">Our Partners</div>
      <p style="font-size: 16px; font-weight: 400; text-align: center;">Discover how our platform transforms road construction into a<br>
         seamless, efficient, and well-managed process.</p>
         <div class="partners">
          <img src="../../../assets/images/ghanaPrisons.svg" alt="">
          <img src="../../../assets/images/ghanaPolice.svg" alt="">
          <img src="../../../assets/images/minsports.svg" alt="">
          <img src="../../../assets/images/ghanaAirforce.svg" alt="">
          <img src="../../../assets/images/fireservice.svg" alt="">
         </div>
    </div>

    <!-- OUR COMPETITION -->
    <div class="whole-comp">
      <div class="comp-text">Our Recent Competitions</div>
      <p style="font-size: 16px; font-weight: 400; text-align: center;">Highlights from our most exciting 
        handball events across<br> Ghana and beyond</p>

      <div style="display: flex; justify-content: center; align-items: center; gap: 50px;">
        <!-- left side (image) -->
        <div style="position: relative; width: fit-content;">
        <img src="../../../assets/images/ghanaguy.svg" style="width: 566px; height: auto;">
        <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); color: white;
         font-size: 24px; font-weight: bold; text-align: left; display: flex; justify-content: space-between;
        align-items: center; width: 80%; max-width: 500px; padding: 0 20px;">
    <!-- Event Info -->
    <div style="padding-right: 10px;">
       All African Games 2023 <br />
    <div style="font-weight: 200; font-size: 14px; padding-top: 10px;">
      <span style="font-weight: 500;">Location:</span> Accra, Ghana
    </div>
    <div style="font-weight: 200; font-size: 14px;">
      <span style="font-weight: 500;">Date:</span> 8th - 15th September 2023
    </div>
  </div>

  <!-- Arrow Button -->
  <div style="border-radius: 50%; background-color: white; width: 56px; height: 56px; display: flex;
   align-items: center; justify-content: center;">
    <img src="../../../assets/images/picarrow.svg" alt="" width="15px" height="15px" />
  </div>
  </div>

      </div>
      <!-- right side (text) -->
        <div>
          <h1 style="font-size: 32px; font-weight: 600; text-align: left;">All African Games 2023</h1>
          <p style="font-size: 18px; font-weight: 300; text-align: left; width: 576px; padding-top: 20px; padding-bottom: 50px;">
          The 13th edition of the All African Games marked a<br> historic moment for Ghana as the nation hosted<br>
           Africa’s best handball nations in a week-long festival<br> of sport and unity. The competition brought together<br> 
           10 countries across the continent, competing fiercely<br> for glory on the court. The Ghanaian national team,<br>
            driven by home support and months of preparation,<br> delivered a spirited performance, narrowly missing<br> out on 
            the semifinals but winning the hearts of fans.
          </p>
        </div>

      </div>

       <!-- OUR VISION      OUR VISION      OUR VISION-->
    <div style="display: flex; justify-content: center; align-items: center;">

      <!-- left side (text) -->
      <div>
        <h1 style="font-size: 32px; font-weight: 600; text-align: left;">IHF Trophy Tournament 2025</h1>
        <p style="font-size: 18px; font-weight: 300; text-align: left; width: 576px; padding-top: 20px; padding-bottom: 50px;">
          Ghana’s U-20 and U-18 national handball teams made<br> a strong statement at the International Handball<br>
           Federation (IHF) Trophy Africa Zone III tournament<br> held in Abidjan. The tournament featured
            seven West<br> African nations including Nigeria, Benin, Togo, Liberia,<br> and host nation Côte d’Ivoire.<br> <br> 
            Ghana’s youth teams demonstrated impressive<br> technical and tactical development, with the U-20 side<br> 
            earning a 3rd place finish after a tightly contested<br> bronze medal match against Benin.
        </p>
      </div>

      <!-- right side (image) -->
      <div style="position: relative; width: fit-content;">
        <img src="../../../assets/images/ghanaboys.svg" style="width: 566px; height: auto;">
        <div style="position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); color: white;
         font-size: 24px; font-weight: bold; text-align: left; display: flex; justify-content: space-between;
        align-items: center; width: 80%; max-width: 500px; padding: 0 20px;">
      <!-- Event Info -->
      <div style="padding-right: 10px;">
        IHF Trophy Tournament 2025 <br />
        <div style="font-weight: 200; font-size: 14px; padding-top: 10px;">
          <span style="font-weight: 500;">Location:</span> Abidjan, Côte d’Ivoire
        </div>
        <div style="font-weight: 200; font-size: 14px;">
          <span style="font-weight: 500;">Date:</span> 8-15, 2024
        </div>
      </div>

      <!-- Arrow Button -->
        <div style="border-radius: 50%; background-color: white; width: 56px; height: 56px; display: flex;
          align-items: center; justify-content: center;">
          <img src="../../../assets/images/picarrow.svg" alt="" width="15px" height="15px" />
        </div>
      </div>
      </div>
      
    </div> 

    </div>

    <!-- BLOGS   BLOGS    BLOGS   -->
    <div >
      <div style="font-size: 39px; font-weight: 700; text-align: center;">Latest From the Blog</div>
      <p style="font-weight: 400; font-size: 16px; text-align: center;">Discover how our platform transforms road construction into a<br>
         seamless, efficient, and well-managed process.</p>

         <div style="display: flex; gap: 30px; padding-top: 50px;">

          <div class="last-card">
            <div class="image-container">
              <img src="../../../assets/images/placeguy.svg" alt="">
            </div>
            <div class="last-card-text">
              <div class="last-card-title">Ghana’s Youth Handball Drive</div>
              <div class="last-card-desc">A non-profit organization using the game<br> of chess to help A 
                look into how Ghana<br> is nurturing young talents</div>
            </div>
            <div class="learn">Learn More </div>
          </div>

          <div class="last-card">
            <div class="image-container">
            <img src="../../../assets/images/placehere.svg" alt="">
            </div>
            <div class="last-card-text">
              <div class="last-card-title">Adjoa Mensah: Star on the Rise</div>
              <div class="last-card-desc">Meet Ghana’s exciting young winger<br> and hear her story from
                 Cape Coast to<br> the national spotlight</div>
            </div>
            <div class="learn1">Learn More </div>
          </div>
          <div class="last-card">
            <div class="image-container">
              <img src="../../../assets/images/placeguy.svg" alt="">
          </div>
            <div class="last-card-text">
              <div class="last-card-title">Lessons from the All African Games</div>
              <div class="last-card-desc">TASTE Nigeria was founded to encourage<br> the spread of 
                appropriate and sustainable<br> technology in Nigeria.</div>
            </div>
            <div class="learn">Learn More </div>
          </div>
         </div>
    </div>

   

    <!-- OUR BLOGS -->
  </section>
<!-- </nz-spin> -->

<!-- <ng-template #customIndicator>
  <div style="color: red;">Loading...</div>
  <img src="assets/images/hdlogo.svg" class="logo-spinner" alt="Loading..."  />
</ng-template> -->


  
