<section class="bg-home">
    <div class="reg-container">
      <h1 class="reg-heading">
        Rising with 
        <span class="reg-pride">
          <span class="red">Pr</span>
          <span class="yellow">i</span>
          <span class="green">de</span>
        </span>. Competing 
        <br />
        <span class="passion-text">with Passion.</span>
      </h1>
  
      <div class="reg-subtext">We go higher, higher and higher</div>
  
      <div class="reg-button-wrapper">
        <button [routerLink]="['/divisions']" class="reg-button">Register Now</button>
      </div>
    </div>
  </section>
  
