section{
  background-color: white;
  font-family: "Outfit", sans-serif;
  min-height: 150vh;
  padding-bottom: 40px;
}
.gallery-bg{
  background-image: url('../../../assets/images/gallery-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  // padding-bottom: 20px;
  height: 35vh;
}

/* Gallery Title */
section > div:first-child {
  margin-bottom: 20px;
}


.gallery-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}


@media (min-width: 600px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallery-text{
  color: black;
   font-size: 18px;
    font-weight: 500;
     text-align: center;
       padding-top: 80px;
}

@media (min-width: 768px) {
  .gallery-text {
    // padding-left: 70px;
    font-size: 36px;
  }
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  max-height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
}

.gallery-item img:hover {
  transform: scale(1.05);
}
