.success-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f6ffed;
    padding-bottom: 70%;
    padding: 20%;
    font-family: "Outfit", sans-serif;
  }

  @media (min-width: 765px){
    .success-container {
      padding-bottom: 27%;
    }
  }
  
  .success-box {
    padding-bottom: 80%;
    max-width: 600px;
    width: 90%;
  }
  
  .success-icon {
    width: 20px;
    height: 20px;
  }
  .success-check {
    width: 30px;
    height: 30px;
    background-color: #389e0d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    margin-top: 90px;
  }
  
  .success-title {
    font-size: 24px;
    font-weight: 600;
    color: #6B6B6B;
    margin-bottom: 0.5rem;
    padding-top: 40px;
  }
  
  .success-message {
    font-size: 16px;
    color: #595959;
    margin-bottom: 1.5rem;
  }
  
  .success-button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 2px;
    height: 40px;
    width: 200px;
  }
  