<section class="success-container">
    <div class="success-box">
      <div class="success-check">
      <img src="../../../assets/images/check.svg" alt="Success" class="success-icon" />
    </div>
      <h2 class="success-title">Application Received</h2>
      <p class="success-message">Thank you, your registration has been received and is currently under review.<br> 
        Our team is verifying your details and documents to ensure everything is in <br> order.</p>
  
      <button nz-button class="success-button" [routerLink]="['/home']">
        Back to homepage
      </button>
    </div>
  </section>
  
