<section class="success-container">
  <div class="success-box">
    <!-- Success Icon -->
    <div class="success-check">
      <img src="../../../assets/images/check.svg" alt="Success" class="success-icon" />
    </div>

    <!-- Text Content -->
    <h2 class="success-title">Application Received</h2>
    <p class="success-message">
      Thank you, your registration has been received and is currently under review.<br>
      Our team is verifying your details and documents to ensure everything is in order.
    </p>

    <!-- Button -->
    <button nz-button class="success-button" [routerLink]="['/home']">
      Back to Homepage
    </button>
  </div>
</section>
