<div class="registration">
  <div class="regis">
    <!-- BACK ICON -->
    <div class="back-icon">
      <a [routerLink]="['/home']" class="back-button">
        <img src="../../../assets/images/arrow.svg" class="icon">
      </a>
      <p class="back-text">Back</p>
    </div>
  
    <div class="intro-text">
      <h1><strong>Get Started</strong></h1>
      <p>Select your division to continue</p>
    </div>
  
    <!-- 1ST & 2ND DIVISION -->
    <div class="division-options">
      <!-- 1st Division -->
      <div class="division-card" [class.selected]="selectedDivision === 'Division_One'"
      (click)="selectDivision('Division_One')">
        <img src="../../../assets/images/check.svg"  class="check-icon">
        <img src="../../../assets/images/Frameone.svg" class="division-icon">
        <div class="division-title">1st Division</div>
        <p class="division-desc">Top-tier clubs in the national handball league.</p>
        
      </div>
    
      <!-- 2nd Division -->
      <div class="division-card" [class.selected]="selectedDivision === 'Division_Two'"
      (click)="selectDivision('Division_Two')">
        <img src="../../../assets/images/check.svg" class="check-icon">
        <img src="../../../assets/images/Frametwo.svg" class="division-icon">
        <div class="division-title">2nd Division</div>
        <p class="division-desc">Regional and rising teams in developmental leagues.</p>
      </div>
      <!-- <p *ngIf="selectedDivision" class="text-green-600">
        Selected Division: {{ selectedDivision }}
      </p> -->
    </div>
    
    <div class="next-button-container">
      <button routerLink="/registration" class="next-button">Next</button>
    </div>
  </div>
  </div>
  
