<section class="min-h-[100vh]">
    <div class="min-h-[70vh] w-[50%] sm:w-[50%] md:w-[40%] lg:w-[30%] flex flex-col font-outfit m-auto justify-center pt-[75px]">
        <div class="text-center font-outfit leading-[1]">
            <p class="text-2xl font-bold">Forgot Password
                <br>
                  <p class="text-gray-400 text-xs text-[7px] md:text-[10px] lg:text-[15px]">
                     Enter your email addresses to receive a (OTP) to reset your password.
                    </p>
            <!-- </p> --->
        </div>
        <div class="gap-y-4 flex flex-col justify-center w-full pl-[12%]">
            <div>
                <label class="text-gray-400">E-mail</label>
                <div class="border rounded-xl border-gray-200 w-[90%]">
                    <input nz-input placeholder="honiu@example.com" class="p-2 w-full rounded-xl sm:max-w-[350px] md:max-w-[400px] lg:max-w-[500px] focus:outline-none focus:ring-2 focus:ring-blue-500"  type="text" />
                </div>
            </div>
            <div class="border rounded-xl border-gray-200 bg-gradient-to-b text-white from-blue-900 to-[rgb(29,4,52)] border w-[90%] text-center">
                    <button nz-button nzType="default" class="font-bold p-3 text-white" routerLink="/auth/otp">Send OTP</button>
            </div>
        </div>
        <!-- <a routerLink="/resetpassword">Go to Reset Password</a> -->
    </div>
        <div>

        </div>
    <div class="background min-h-[30vh]">
         <!-- <img src="../../assets/images/19273-1.png"> -->
    </div>
    
</section>
