<section id="background">
<div class="w-[60%] md:w-[55%] lg:w-[55%] m-auto text-center flex flex-col min-h-screen h-[40vh] 
justify-center font-outfit pb-[100px] md:w-[40%] ">
    <div class="sm:w-[80%] sm:text-[16px] md:text-[18px] md:w-[90%] lg:text-[18px] lg:w-[98%]">
        <h1 class="text-[24px] font-[1000]"><strong>Enter OTP</strong></h1>
        <p>We've sent a 6-digit OTP to <strong>honyabright4278&#64;gmail.com.</strong> Enter it <br>below to verify.</p>
    </div>
   <!-- <div class="flex h-[55px] justify-center gap-x-2.5">
    <div>
        <input type="text" class="border-2 border-gray-300 h-[55px] w-[50px] rounded-[10px] focus:border-blue-700 focus:outline-none">
    </div>
    <div >
        <input type="text" class="border-2 border-gray-300 h-[55px] w-[50px] rounded-xl focus:border-blue-700 focus:outline-none">
    </div>
    <div>
        <input type="text" class="border-2 border-gray-300 h-[55px] w-[50px] rounded-xl focus:border-blue-700 focus:outline-none">
    </div>
    <div>
        <input type="text" class="border-2 border-gray-300 h-[55px] w-[50px] rounded-xl focus:border-blue-700 focus:outline-none">
    </div>
   </div> -->

   <!-- <nz-flex nzVertical [nzGap]="20">
    <nz-flex nzVertical class="flex m-auto">
      <h5 nz-typography></h5>
      <nz-input-otp nzSize='large'></nz-input-otp>
    </nz-flex>
   </nz-flex> -->

<div class="pl-[23px] pr-[30px]">
<button class="butt bg-linear-to-b from-blue-900 to-[#1D0434] rounded-[15px] lg:h-[7vh] sm:h-[4vh] font-bold m-auto w-[48%]"
 routerLink="/auth/resetpassword">Verify</button>
</div>
</div>
</section>