<section class="main-section">
  <!-- <div> -->
  <button class="back" [routerLink]="['/home']">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#0d1655" 
      d="m7.85 13l2.85 2.85q.3.3.288.7t-.288.7q-.3.3-.712.313t-.713-.288L4.7 12.7q-.3-.3-.3-.7t.3-.7l4.575-4.575q.3-.3.713-.287t.712.312q.275.3.288.7t-.288.7L7.85 11H19q.425 0 .713.288T20 12t-.288.713T19 13z"/></svg>
    <span class="back-text">Back to Homepage</span>
  </button>
<!-- </div> -->
    <div class="form-container">
      
      <div class="logo-section">
        <div class="logo-wrapper">
          <img src="../../../assets/images/hdlogo.svg" class="logo-img">
        </div>
        <h1 class="title"><strong>Log In To Your Account</strong></h1>
        <p class="subtitle">Enter your email and password</p>
      </div>
  
      <form class="form" #signinform="ngForm" (ngSubmit)="submit(signinform)" nzform>
        <nz-form-item class="form-item">
          <label for="email" class="label">Email</label>
          <input nz-input type="email" name="email" [(ngModel)]="signInData.email" required placeholder="email@gmail.com" class="input-field">
        </nz-form-item>
  
        <nz-form-item class="form-item password-wrapper">
          <label for="password" class="label">Password</label>
          <input [type]="showPassword ? 'text' : 'password'" required 
            nz-input name="password" [(ngModel)]="signInData.password" placeholder="**********" class="input-field" />
          <button type="button" (click)="showPassword = !showPassword" class="toggle-password">
            <img *ngIf="showPassword" src="../../../assets/images/eyeopen.svg" class="icon-img" />
            <img *ngIf="!showPassword" src="../../../assets/images/eyeclose.svg" alt="" class="icon-img" />
          </button>
          
        </nz-form-item>
  
        <div class="options">
          <span>
            <label nz-checkbox></label>
            Remember me
          </span>
          <span><a routerLink="/auth/forgot-password" class="forgot-password">Forgot Password?</a></span>
        </div>
  
        <!-- <button type="button" class="azure-login">Login with Azure</button> -->
  
        <div class="submit-section">
          <button type="submit" *ngIf="!isLoading" [disabled]="signinform.invalid" class="submit-btn">Login</button>
          <div *ngIf="isLoading" style="display: flex; align-items: center; justify-content: center;
          height: 38px; width: 182px; gap: 20px">
          <nz-spin nzSimple></nz-spin>
          <span style="color: gray; font-size: 16px;">Loading...</span>
        </div>
        </div>
      </form>
  
    </div>
  </section>
  