<section class="main">
  <div class="main-content">
    <!-- Back Icon -->
    <div class="back-icon">
      <a class="back-btn" [routerLink]="['/divisions']">
        <img src="../../../assets/images/arrow.svg" class="icon">
      </a>
      <p class="back-text">Back</p>
    </div>
  
    <!-- Form Wrapper -->
    <div class="form-container">
      <div class="text-center">
        <h1 style="font-size: 18px; text-align: center;"><strong>Register to Secure Your Spot</strong></h1>
        <p>Limited spaces available. Start your booking now.</p>
      </div>
  
      <!-- Form -->
      <form class="form-body" nzform #registerForm="ngForm" (ngSubmit)="saveAndContinue(registerForm)">
        
        <!-- First Row -->
        <div class="form-grid">
          <nz-form-item>
            <label>First Name</label>
            <input type="text" name="firstName" [(ngModel)]="registerData.firstName" #firstName="ngModel" placeholder="Enter your legal first name">
          </nz-form-item>
  
          <nz-form-item>
            <label>Last Name</label>
            <input type="text" name="surname" [(ngModel)]="registerData.surname" #surname="ngModel" placeholder="Enter Last Name">
          </nz-form-item>
        </div>
  
        <!-- Second Row -->
        <div class="form-grid"> 
          <nz-form-item>
            <label for="gender">Gender</label>
            <select name="gender" required [(ngModel)]="registerData.gender" #gender="ngModel">
              <option disabled selected></option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </nz-form-item>

          <!-- <nz-form-item>
            <nz-form-label>Date of Birth</nz-form-label>
            <nz-form-control>
              <input 
                type="date" 
                name="dateOfBirth" 
                [(ngModel)]="registerData.dateOfBirth" 
                #dateOfBirth="ngModel" 
                placeholder="Enter Date of Birth"
                class="date-input"
              />
            </nz-form-control>
          </nz-form-item> -->
          
  
          <nz-form-item>
            <label>Date of Birth</label>
            <input type="date" name="dateOfBirth" [(ngModel)]="registerData.dateOfBirth" #dateOfBirth="ngModel" placeholder="Enter Date of Birth">
          </nz-form-item>
        </div>

        <!-- Third Row -->
        <div class="form-grid">
          <nz-form-item>
            <label>Email</label>
            <input type="email" name="email" [(ngModel)]="registerData.email" #email="ngModel" placeholder="Enter Email">
          </nz-form-item>

          <nz-form-item>
            <label>Phone Number</label>
            <input type="text"  name="phoneNumber" [(ngModel)]="registerData.phoneNumber" #phoneNumber="ngModel"
              placeholder="Enter Phone Number" required pattern="^(?:\+233|0)(24|25|26|27|50|54|55|56|57|58|59)\d{7}$"
              nz-input
            />
            <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
              <span *ngIf="phoneNumber.errors?.['required']" style="color: red">Phone number is required.</span>
              <span *ngIf="phoneNumber.errors?.['pattern']" style="color: red">Enter a valid 10-digit Ghanaian number.</span>
            </div> 
          </nz-form-item>          
        </div>
  
        <!-- Fourth Row -->
        <div class="form-grid">
          <nz-form-item>
            <label>ID Type</label>
            <select name="idType" [(ngModel)]="registerData.idType" #idType="ngModel">
              <option disabled selected></option>
              <option value="Passport">Passport</option>
              <option value="Ghana Card">Ghana Card</option>
              <option value="Voter ID">Voter ID</option>
              <option value="Driver License">Driver's License</option>
            </select>
          </nz-form-item>
  
          <nz-form-item>
            <label>ID Number</label>
            <input type="text" name="idNumber" [(ngModel)]="registerData.idNumber" #idNumber="ngModel" placeholder="Enter ID Number">
          </nz-form-item>
        </div>
  
        <div class="form-grid">
          <nz-form-item>
            <label for="">Date Created</label>
            <input type="date" name="dateOfRegistration" [(ngModel)]="registerData.dateOfRegistration" #dateOfRegistration="ngModel">
          </nz-form-item>

          <nz-form-item>
            <label style="font-weight: 600; font-size: medium;">Upload Profile Picture</label>
            <input 
              type="file" 
              id="imageUrl" 
              name="imageUrl" 
              (change)="onFileSelected($event)"
              accept="image/*"
            />
            <!-- <div *ngIf="registerData.imageUrl" class="image-preview-container">
              <button type="button" class="remove-btn" (click)="removeImage()">X</button>
            </div> -->
            
          </nz-form-item>
        </div>
        <div *ngIf="imageUploading" style="color: gray; font-size: 14px; margin-left: 51%;">
          ⏳ Image uploading... Please wait
        </div>
        
        
          <!-- Show preview or uploaded image name -->
          <!-- <div *ngIf="registerData.imageUrl" class="mt-2">
            <p><strong>Uploaded Image:</strong></p>
            <img [src]="registerData.imageUrl" alt="Uploaded image" width="100" *ngIf="isUrlImage(registerData.imageUrl)" />
            <p *ngIf="!isUrlImage(registerData.imageUrl)">{{ registerData.imageUrl }}</p>
          </div> -->
        
  
    <!-- Submit Button -->
    <div class="submit-btn-container">
      <button type="submit" nz-button class="submit-btn">SUBMIT</button>
    </div>
      </form>
    </div>
  </div>
    
    
  </section>


  
