/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// .bg-home{
  // background-color: red;
  // background-image:
  //  url('../src/assets/images/ladies.svg');
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-size: cover;
  // height: 93.5vh;
  // width: 100vw;
  // font-family: "Bricolage Grotesque", sans-serif;
  // font-weight: 800;
  // background: linear-gradient(to right, green, yellow);
// }

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  
  .bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  // body{
  //   background-image: url('assets/images/ladies.svg');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }

  .bg-home{
    background: url('/assets/images/ladieshomepage2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    min-height: 100vh;
    width: 100vw;
    content-visibility: auto;
  }

  .livvic-light-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .mission-text{
    font-family: "Livvic", sans-serif;
  }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #app-loader img {
    width: 100px;
    animation: spin 3s linear infinite;
  }
  
  #app-loader {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.4s ease;
  }
  